{% load staticfiles %}
{% load leaflet_tags %}

<html>
<title>{%block title %}
	Kalikot Survey Office
	{% endblock %}
</title>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}' />
	<link rel='stylesheet' href='{% static "css/bootstrap.theme.min.css" %}' />
  <link rel='stylesheet' href='{% static "css/main.css" %}' />
  <link rel='stylesheet' href='{% static "css/site.css" %}' />

  <link rel='stylesheet' href='{% static "django_tables2/themes/paleblue/css/screen.css" %}' />

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/jquery.bootstrap.newsbox.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

	
	<script type="text/javascript">
tday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
tmonth=new Array("January","February","March","April","May","June","July","August","September","October","November","December");

function GetClock(){
var d=new Date();
var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getYear();
if(nyear<1000) nyear+=1900;
var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

if(nhour==0){ap=" AM";nhour=12;}
else if(nhour<12){ap=" AM";}
else if(nhour==12){ap=" PM";}
else if(nhour>12){ap=" PM";nhour-=12;}

if(nmin<=9) nmin="0"+nmin;
if(nsec<=9) nsec="0"+nsec;

document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
}

window.onload=function(){
GetClock();
setInterval(GetClock,1000);
}
</script>


<script type="text/javascript">
    function map_init_basic (map, options) {
        L.marker([81.6150, 29.1451]).addTo(map);
    }
</script>

<style>
    .leaflet-container {  /* all maps */
        width:  290px;
        height: 150px;        
    }
    #specialbigmap {
        height: 800px;
    }
</style>

<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
</style>

<style>.oddrow { background-color:#e8eef4; }</style>

</head>

<body>
<header>
<div class="row" >
<nav class="navbar navbar-default" style="margin-bottom:0em; padding-top:1em; padding-right:2em; padding-left:2em;  background-color:rgb(228, 241, 254);" >
    <ul class="nav navbar-nav navbar-left">
      <li><img src="{% static 'images/National_Emblem.png' %}" alt="flag" class="flag" width="110"></li>       
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><img src="{% static 'images/Nepal_Flag.gif' %}" alt="flag" class="flag" width="70"></li>        
    </ul> 
    <p style="text-align:center;">
    <p style="font-size:20; font-family:Times New Roman; color:rgb(255,0,0); margin-bottom:-1em; margin-top:-1em;">Government of Nepal</p><br> 
        <p style="font-size:20; font-family:Times New Roman; color:rgb(0,0,255); margin-bottom:-1em;">Ministry of Land Reform and Management</p><br> 
        <p style="font-size:20; font-family:Times New Roman; color:rgb(0,0,0); margin-bottom:-1em;">Survey Department </p><br>
          <p style="font-size:20; font-family:Times New Roman; margin-bottom:0em;"><b>Survey Office, Kalikot</b></p>       
    </p>
</nav>
</div>
  </header>


<div class="row">
  <nav class="navbar navbar-default" style="margin-bottom:0.1em; margin-top:0.1em;">
  <div class="container-fluid" >
    <!-- Brand and toggle get grouped for better mobile display -->
    {% block navbar %}
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                              
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-static-top" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index"><b>Home</b> <span class="sr-only">(current)</span></a></li>        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>About Us</b> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/introduction"><b>Introduction</b></a></li>
              <li><a href="/organogram" id="organogram"><b>Organogram</b></a></li>
              <li><a href="/budget" id="budget"><b>Budget</b></a></li>
              <li><a href="/revenue/" id="budget"><b>Monthly Revenue</b></a></li>
              <li><a href="/major_activities"><b>Major Activities</b></a></li>
              <li><a href="/future_plans"><b>Future Plans</b></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Progress</b> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/products_and_services" id="product_service"><b>Product and Service</b></a></li>
            <li><a href="#" id="monthly_progress"><b>Monthly Progress</b></a></li>
          </ul>
        </li>
        <li><a href="/feedbacks"><b>Feedbacks</b></a></li>
        <li><a href="/contacts"><b>Staff Details</b></a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" method='GET' action='/search_items'>
        <div class="form-group">
          <input type="text" name='search' class="form-control" placeholder="Search" value='{{ request.GET.search}}'>
        </div>
        <button type="submit" class="btn btn-default"><b>Search</b></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/index_nep">नेपाली</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
		
		<div class="clear"></div>
</div><!--/.container-fluid -->
{% endblock navbar%}

<!--<div class="container" id="proHeadline">-->
<div class="row" style="background-color:rgb(228, 241, 254
);">
        <div class="col-sm-3 col-sm-offset-1">{% block breadcrumb %}
          Current Page: <a href="/index">Home</a> &raquo; {% endblock breadcrumb %}    	
        </div>
        
    </div>


<!--<div class="container" >	-->	
	<div class="row" style="background-color:rgb(228,241,254);">
		<div class="col-sm-10 col-sm-offset-1" style="margin-bottom: 1em; padding-top: 1em;">
		{% block content %}

		{% endblock content%}
		</div>
	</div>

<!--<div class="container">-->
<div class="row">
  <nav class="navbar navbar-default" style="margin-bottom:0.1em; margin-top:0.1em;">
		<div class="col-sm-12">
			<div id='footerWidgets'>
				<div class="col-sm-4">
			<div class="footer1">
				<div class='widget'>
					<p class='heading'>Related Links</p>
					<div class='textWidget'>
				<a href = "http://www.nepal.gov.np"><p style="font-size:16: font-family:Helvetica;">Government of Nepal</p></a><br/>
				<a href = "http://www.molrm.gov.np/"><p style="font-size:16: font-family:Helvetica;">Ministry of Land Reform and Management</p></a><br/>
				<a href = "http://dos.gov.np"><p style="font-size:16: font-family:Helvetica;">Survey Department</p></a><br/>
					</div>
				</div>
			</div>
		</div>

			<div class="col-sm-4">
				<div class="footer1">
				<div class='widget'>
					<p class='heading'>Contact US</p>
					<div class='textWidget'>
				<p style="font-size:16: font-family:Helvetica;">Survey Office, Kalikot<br/>
				P.O.Box: 1234 <br/>
				Karnali Zone, Nepal<br/>
				Telephone: 087-440018<br/>
				E-mail: survey.office.kalikot@gmail.com</p><br/>				
					</div>
				</div>
			</div>
		</div>

			<div class="col-sm-4">
				<div class="footer1">
					<div class='widget'>


{% leaflet_js %}
    {% leaflet_css %}
{% leaflet_map "yourmap" callback="window.map_init_basic" %}

						<p class='heading' style="font-size:16: font-family:Helvetica;">Location Map</p>
							<div class='textWidget'>
				<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1766.4943408367565!2d85.34112127643789!3d27.686744696061503!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1410860078920" style="border:0"> frameborder="0" height="150" width="290"></iframe>				
							</div>
					</div>
				</div>
			</div>
		</div>
		<p>Tags: 
	    <a href="http://www.dos.gov.np"><span class="label label-info">Department</span></a> 
		<a href="/index"><span class="label label-info">Office</span></a> 
		<a href="http://www.molrm.gov.np/"><span class="label label-info">Ministry</span></a> 
		<a href="http://www.nepal.gov.np"><span class="label label-info">Government</span></a>
		| <i class="icon-user"></i> <a href="http://127.0.0.1:8000/admin">Admin</a> 
		</p>

			<marquee style="margin-bottom: 1em; height:6em; background-color:rgb(228,241,254);"><p><i><strong><span id="clockbox"></span></strong></i><br/>Developed By; Er. Janak Parajuli, Survey Officer <br/> Kalikot Survey Office</p></marquee>
		<!--</div>
	</div>-->
	</div>
</nav>
</div>
 
</body>

</html>