{% extends "index.html"%}
{% block title %} Survey Office, Kalikot | Citizen Charter {% endblock %}
{% load staticfiles %}
{% block content %}
<div class="col-sm-8" >
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
	          <div class="col-xs-12" style="font-family:Times New Roman; background-color:rgb(250, 250, 250);overflow:auto;height:400px;">
	          	<p style="text-align:center"><b>नापी कार्यालय, कालीकोट <br/>
	          	सर्वसाधारणको जानकारीका लागी जारी गरिएको <br/>
	          नागरिक बडापत्र<a href="{% static "docx/napi_nagarik_badapatra.docx" %}">(डाउनलोड गर्नुहोस्)</a><br/></b>
	      		</p>
		    <table class="table table-hover table-sm" style="padding:0px; font-size:12;">
			  	<thead>
			    <tr>
				<th BGCOLOR="#87CEFA" scope="col">क्र.स.</th>
                <th BGCOLOR="#87CEFA" scope="col">सेवा सुविधाहरुको विवरण</th>
                <th BGCOLOR="#87CEFA" scope="col">आवश्यक कागजात/प्रमाणहरु</th>
                <th BGCOLOR="#87CEFA" scope="col">लाग्ने समय</th>
                <th BGCOLOR="#87CEFA" scope="col">लाग्ने शूल्क</th>
                <th BGCOLOR="#87CEFA" scope="col">जिम्मेवार कर्मचारी</th>
                <th BGCOLOR="#87CEFA" scope="col">शिकायत गर्ने ठाउँ</th>
                <th BGCOLOR="#87CEFA" scope="col">कैफियत</th>                
								</tr>   
							</thead>
						<tbody>
					<tr><script>$("tr:odd").addClass("oddrow");</script>
                    <td>१.</td>
                    <td>जग्गा खरिद-बिक्री, बकस-पत्र अंशबण्डा, अदालतको फैसला, अधिग्रहण, लगत कट्टा आदि कारणले जग्गाको स्वामित्व परिवर्तन हुने गरि कित्ताकाट गर्ने।</td>
                    <td>मालपोत कार्यालयको पत्र तथा कारोवारको स्पष्ट विवरणहरु उल्लेख भएको लिखत र स्वामित्व खुल्ने अन्य कागज प्रमाणहरु(मालपोत कार्यालयले तोके बमोजिम)</td>
                    <td>(क) सामान्य लिखत:२बजे भित्र प्राप्त भएमा सोही दिन <br/>२ बजे पश्चात् प्राप्त भएमा अर्को दिन<br/>(ख)अंशबण्डा वा धेरै कि्त्ताकाट गर्नुपर्ने लिखत: कार्यालय प्रमूखले तोके बमोजिम(बढिमा एक हप्ता)<br/>(ग)कित्ता नक्सा तयार गर्नुपरेमा: कार्यालय प्रमूखले तोके बमोजिम (कित्ता नक्सा तयार गर्ने कार्यविधि अनुसार)</td>
                    <td>'क':शूल्क नलाग्ने <br/>'ख':शूल्क नलाग्ने <br/>'ग' प्रति कित्ता नक्सा रु.५० र फिल्ड रेखाङ्कन वापतको दस्तुर</td>
                    <td>'क' कार्यालय प्रमूखले तोकेको सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक<br/>
                    'ख' कार्यालय प्रमूखले तोकेको सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक<br/>
                   	'ग' कार्यालय प्रमूखले तोकेको सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक<br/></td>
                    <td>'क' नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत <br/>
                    'ख' नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत <br/>
                    'ग' नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत <br/></td>
                    <td></td>
                </tr>
                <tr>
                    <td>२.</td>
                    <td>नक्सा सुधार-संशोधन गर्ने।</td>
                    <td>मालपोत कार्यालयको पत्र तथा मालपोत कार्यालयबाट नक्सा सुधार संशोधन सम्बन्धि गरिएको कारवाहीको सम्पूर्ण विवरणहरु भएको फाइल र आवश्यक कागजपत्रहरु(मालपोत कार्यालयमा पेश भएका र सो कार्यालयले तोके बमोजिम)</td>
                    <td>(क) फिल्ड निरिक्षण गर्नु नपर्ने भएमा बढीमा २ दिन भित्र <br/>(ख)फिल्ड निरिक्षण गर्नु पर्ने भएमा फिल्ड सिजनमा कार्यालय प्रमूखले तोके बमोजिम (बढीमा ७ दिन भित्र)<br/></td>
                    <td>'क':शूल्क नलाग्ने <br/>'ख':शूल्क नलाग्ने <br/></td>
                    <td>'क' कार्यालय प्रमूखले तोकेको सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक<br/>
                    'ख' कार्यालय प्रमूखले तोकेको सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक<br/>
                   	</td>
                    <td>'क' नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत <br/>
                    'ख' नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत <br/></td>
                    <td></td>
                </tr>
                <tr><script>$("tr:odd").addClass("oddrow");</script>
                    <td>३.</td>
                    <td>नापी गर्न छुट भएका जग्गा नाप नक्सा गर्ने</td>
                    <td>मालपोत कार्यालयको पत्र तथा नाप-जाँच गर्ने निर्णय भएको र यस सम्बन्धि कारवाही भएका विवरणहरु।</td>
                    <td>(क) निर्णय उल्लेख भएको भए सोही बमोजिम <br/>(ख)निर्णय उल्लेख नभएको भए कार्यालय प्रमूखले तोके बमोजिम।<br/></td>
                    <td>जग्गा नाप-जाँच नियमावलीको नियम ३३ बमोजिम फिल्ड रेखाङ्कन सरह</td>
                    <td>कार्यालय प्रमूखले तोकेको वा सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक</td>
                    <td>नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत </td>
                    <td></td>
                </tr>
                <tr>
                    <td>४.</td>
                    <td>हाल-साविक भिडाउने।</td>
                    <td>मालपोत कार्यालयको वा हाल-साविक भिडाउन माग गर्ने अन्य आधिकारिक निकायको पत्र।</td>
                    <td>कामको चाप र अवस्था हेरी कार्यालय प्रमूखले तोके बमोजिम (बढीमा ७ दिन भित्र)</td>
                    <td>शूल्क नलाग्ने</td>
                    <td>कार्यालय प्रमूखले तोकेको वा सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक</td>
                    <td>नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत </td>
                    <td></td>
                </tr></tbody></table><table><tbody>
                <tr><p style="width:350px;"><b>नापी कार्यालयमा सोझै सम्पर्क राखि गर्न सकिने कार्यहरु:-</b></p><tr></tbody></table>
                <table class="table table-hover table-sm" style="padding:0px; font-size:12;">
                <tbody>
                <tr><script>$("tr:odd").addClass("oddrow");</script>
                    <td>५.</td>
                    <td>फल्डबुक उतार / प्लट रजिष्टर उतार</td>
                    <td>रु १०/- को टिकट टाँसेको निवेदन<br/>सम्बन्धित कित्ताको जग्गाधनीको दर्ता प्रमाणपूर्जाको प्रतिलीपि<br/>सरोकारवालाको नागरिकताको प्रमाणपत्रको प्रतिलीपि <br/>चालु आ.व.को मालपोत तिरेको रसीद</td>
                    <td>सोही दिन</td>
                    <td>मुलुकी ऐन कागज जाँचको १७ नं. महल बमोजिम</td>
                    <td>कार्यालय प्रमूखले तोकेको वा सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक</td>
                    <td>नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत </td>
                    <td></td>
                </tr>
                <tr>
                    <td>६.</td>
                    <td>नक्सा प्रिन्ट</td>
                    <td>सम्बन्धित कित्ताको जग्गाधनीको दर्ता प्रमाणपूर्जाको प्रतिलीपि<br/>सरोकारवालाको नागरिकताको प्रमाणपत्रको प्रतिलीपि <br/>चालु आ.व.को मालपोत तिरेको रसीद</td>
                    <td>तराइ तथा बढी कारोवार हुने कार्यालय हरुमा मौसम अनुकुल भएमा र १ बजे भन्दा पहिले निवेदन प्राप्त भएमा सोही दिन<br/>१ बजे पछि प्राप्त भइमा अर्को दिन, र<br/>पहाडी तथा हिमाली जिल्लाका कार्यालयहरुमा नापी कार्यालयहरुले तोके बमोजिम कम्तीमा हप्ताको २ पल्ट</td>
                    <td>टिकटको रु१५/- तथा प्रति पूरा सीटको रु१००/-</td>
                    <td>कार्यालय प्रमूखले तोकेको वा सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक</td>
                    <td>नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत </td>
                    <td></td>
                </tr>
                <tr><script>$("tr:odd").addClass("oddrow");</script>
                    <td>७.</td>
                    <td>नक्सा ट्रेस</td>
                    <td>सम्बन्धित कार्यालयको आधिकारिक पत्र, <br/>सम्बन्धित कित्ताको जग्गाधनीको दर्ता प्रमाणपूर्जाको प्रतिलीपि र गाविस/न.पा., वडा नं. सीट नं., कि.नं. खुलेको रु १५/- को टिकट टाँसेको निवेदन,<br/>सरोकारवालाको नागरिकताको प्रमाणपत्रको प्रतिलीपि, <br/>चालु आ.व.को मालपोत तिरेको रसीद</td>
                    <td>१ बजे पहिले प्राप्त निवेदनको हकमा सोही दिन<br/>१ बजे पश्चात प्राप्त निवेदनको हकमा अर्को दिन</td>
                    <td>प्रति कि्त्ता रु१००/-</td>
                    <td>कार्यालय प्रमूखले तोकेको वा सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक</td>
                    <td>नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत </td>
                    <td></td>
                </tr>
                <tr>
                    <td>८.</td>
                    <td>फल्ड रेखाङ्कन</td>
                    <td>रु १५/- को टिकट टासेँको निवेदन, <br/>सम्बन्धित कित्ताको जग्गाधनीको दर्ता प्रमाणपूर्जाको प्रतिलीपि,<br/>सरोकारवालाको नागरिकताको प्रमाणपत्रको प्रतिलीपि, <br/>चालु आ.व.को मालपोत तिरेको रसीद, <br/>रेखाङ्कन दस्तुर वापतको राजश्व बुझाएको रसीद</td>
                    <td>फिल्ड सिजन (कार्तिक-ज्येष्ठ)मा रामान्यतया १५ दिन भित्र कामको अत्यधिक चाप भएमा कार्यालय प्रमूखले तोके बमोजिम।</td>
                    <td>जग्गा नाप-जाँच नियमको ३३ बमोजिम (सदरमुकाबाट सम्बन्धित स्थानसम्मको दूरीको आधारमा तोकिने) यस सम्बन्धि सूचना प्रत्येक नापी कार्यालयले छुट्टै तयार गरी टाँस गर्नुपर्नेछ।</td>
                    <td>कार्यालय प्रमूखले तोकेको वा सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक</td>
                    <td>नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत </td>
                    <td></td>
                </tr>
                <tr><script>$("tr:odd").addClass("oddrow");</script>
                    <td>९.</td>
                    <td>कित्ता एकिकरण गर्ने</td>
                    <td>रु १५/- को टिकट टासेँको निवेदन, <br/>सम्बन्धित कित्ताको जग्गाधनीको दर्ता प्रमाणपूर्जाको प्रतिलीपि,<br/>सरोकारवालाको नागरिकताको प्रमाणपत्रको प्रतिलीपि, <br/>चालु आ.व.को मालपोत तिरेको रसीद, <br/></td>
                    <td>कित्ताहरुको संख्या हेरी कार्यालय प्रमूखले तोके बमोजिम (बढीमा ७ दिन)।</td>
                    <td>प्रति कित्ता रु ५०/- र फिल्ड रेखाङ्कन वापतको राजश्व</td>
                    <td>कार्यालय प्रमूखले तोकेको वा सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक</td>
                    <td>नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत </td>
                    <td></td>
                </tr>

                <tr>
                    <td>१०.</td>
                    <td>कित्ता नक्सा (Parcel Plan)तयार गर्ने (नापी विभागले तोकेको क्षेत्रमा मात्र)</td>
                    <td>रु १५/- को टिकट टासेँको निवेदन, <br/>सम्बन्धित कित्ताको जग्गाधनीको दर्ता प्रमाणपूर्जाको प्रतिलीपि,<br/>सरोकारवालाको नागरिकताको प्रमाणपत्रको प्रतिलीपि, <br/>
                    </td>
                    <td>कार्यालय प्रमूखले तोके अनुसार (कित्ता नक्सा तयार गर्ने कार्यविधि बमोजिम)।</td>
                    <td>प्रति कित्ता रु १०/- र फिल्ड रेखाङ्कन वापतको राजश्व</td>
                    <td>कार्यालय प्रमूखले तोकेको वा सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक</td>
                    <td>नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत </td>
                    <td></td>
                </tr>
                <tr><script>$("tr:odd").addClass("oddrow");</script>
                    <td>११.</td>
                    <td>क्षेत्रफल टाइल चेक गर्ने</td>
                    <td>रु १५/- को टिकट टासेँको निवेदन, <br/>सम्बन्धित कित्ताको जग्गाधनीको दर्ता प्रमाणपूर्जाको प्रतिलीपि,<br/>सरोकारवालाको नागरिकताको प्रमाणपत्रको प्रतिलीपि, <br/>चालु आ.व.को मालपोत तिरेको रसीद, <br/></td>
                    <td>कित्ताहरुको संख्या हेरी कार्यालय प्रमूखले तोके बमोजिम।</td>
                    <td>शूल्क नलाग्ने</td>
                    <td>कार्यालय प्रमूखले तोकेको वा सम्बन्धित फाँटवाला अमीन वा सर्भेक्षक</td>
                    <td>नापी निरिक्षक वा सर्भेक्षक वा नापी अधिकृत </td>
                    <td></td>
                </tr>
			</tbody>
		</table>
		<table>
			<tbody>
                <tr><p style="text-align:justify;"><b>नोट:-</b> १. प्रत्येक नापी कार्यालयले माथि उल्लेख भए बमोजिम कार्य गर्ने।<br/>२. कुनै असाधारण र काबु बाहिरको परिस्थितीले गर्दा कुनै कार्य तोकिएको समयभित्र सम्पन्न गर्न नसकिएमा कार्यालय प्रमूखले जग्गाधनीलाई स्पष्ट कारण खुलाई जानकारी गराउनु पर्नेछ र कुन समय र मितिमा सो कार्य सम्पन्न हुने हो सो को जानकारी दिई तोकिएको समयमा कार्य सम्पन्न गर्ने।<br/>३. मौसमको प्रतिकुलताले गर्दा फिल्ड चेक, निरिक्षण तथा रेखाङ्कन गर्ने कार्य र नक्सा प्रिन्ट गर्ने जस्ता कार्यहरु समयमा सम्पन्न हुन नसकेमा सो को जानकारी सम्बन्धित व्यक्तिलाई जानकारी गराउनु पर्नेछ।<br/>४. कुनै कार्य सम्पन्न गर्न कुनै कर्मचारीले अनावश्यक ढिला-सुस्ती, लापरवाही वा अनियमितता कार्य गरेको पाइएमा सम्बन्धित व्यक्तिले कार्यालय प्रमूखसँग सिकायत/उजूरी गर्न सक्नेछन्। कार्यालय प्रमूखबाट समाधान नभएमा नापी विभाग, योजना तथा अनुगमन शाखामा लिखित, मौखिक, ई-मेल, फ्याक्स मार्फत सिकायत/उजूरी गर्न सक्नेछन्। यसका लागि ठेगाना निम्न बमोजिम छ:-<br/></p>
                <p style="text-align:justify"><b>नापी विभागको नोडल अधिकृत<br/>
                	नाम:- श्री अनिल मरासिनी<br/>
                	दर्जा:- प्रमूख नापी अधिकृत<br/>
                	ठेगाना:- नापी विभाग, मीनभवन, पो.ब.नं.९४३५<br/>
                	फोन:- ०१-४४७९४१७<br/>
                	फ्याक्स:- ०१-४४८२९५७<br/>
                	ई-मेल:- planning@dos.gov.np<br/><b>
                </p>
            </tr>
            </tbody>
        </table>
	          </div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">{% include 'small_column.html'%}
</div>
{% endblock%}