{% extends "index_nep.html"%}

{% block content %}
<div class="col-sm-8">
	<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12" style="font-family:Times New Roman;">गुनासो तथा उजूरी
						<h1>{{ subject }}</h1><small>{{ feedbacks.publish }}</small><br/>
			<small><B>{{ feedbacks.name|escape }}</B></small><br/>
			<small>{{ feedbacks.email|escape }}</small><br/><br/>
			<small><p style="font-size:14">{{ feedbacks.message|escape }}</p></small><br/>
					</div>
				</div>
			</div>
	</div>
</div>
<div class="col-sm-4">{% include 'small_column_nep.html'%}
</div>
{% endblock content%}