{% extends "index_nep.html"%}
{% load staticfiles %}
	{% block breadcrumb %}
	    यो पेज: <a href="/index">गृहपृष्ठ</a> &raquo; 
	    <a href="">परिचय</a> &raquo; 
	{% endblock breadcrumb %}
{% block content %}
<div class="col-sm-8">
	<div class="panel panel-default">
			<div class="panel-body" style="height:400px; overflow:auto;">
				<div class="row">
					<div class="col-xs-12" style="font-family:Times New Roman;">
						<h3><b><p style="text-align:center;"> परिचय</p></b></h3>
						<ul class="news-item">
							<!-- li class="news-item"-->
								<table cellpadding="4">		
									<tr>									
									<td>
										<div class="tab-content text-justify" style="font-family:Helvetica;">
										<p>
											नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो। </p>

										<p>
											नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।</p>

										<p>
											नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।</p>

										<p>
											नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।नक्सा पूर्बाधार तयारी तथा विकासको लागि अत्यन्त महत्वपूर्ण साधन हो।</p>
									</div>
									</td>
									</tr>
								</table>
							<!--/li-->
						</ul>						
					</div>
				</div>
			</div>
	</div>
</div>
<div class="col-sm-4">{% include 'small_column_nep.html'%}
</div>
{% endblock%}