{% extends "index_nep.html"%}
{% load staticfiles %}
{% block content %}
<div class="col-sm-8">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12" style="font-family:Times New Roman; text-align:justify; background-color:rgb(250, 250, 250);">
					<h3><b><p style="text-align:center;"> मूख्य कृयाकलापहरु</p></b></h3>
					<div class="tab-content text-justify">
						<p>
							समयक्रमसँगै, कार्यालयको प्राथमिकताहरु कित्ता नापीमा मात्रै सीमित नरही नयाँ प्रविधि र सूचनालाई आत्मसात् गर्दै अगाढी बढ्नुपर्ने चुनौती देखिएको छ।समयक्रमसँगै, कार्यालयको प्राथमिकताहरु कित्ता नापीमा मात्रै सीमित नरही नयाँ प्रविधि र सूचनालाई आत्मसात् गर्दै अगाढी बढ्नुपर्ने चुनौती देखिएको छ।समयक्रमसँगै, कार्यालयको प्राथमिकताहरु कित्ता नापीमा मात्रै सीमित नरही नयाँ प्रविधि र सूचनालाई आत्मसात् गर्दै अगाढी बढ्नुपर्ने चुनौती देखिएको छ।समयक्रमसँगै, कार्यालयको प्राथमिकताहरु कित्ता नापीमा मात्रै सीमित नरही नयाँ प्रविधि र सूचनालाई आत्मसात् गर्दै अगाढी बढ्नुपर्ने चुनौती देखिएको छ।समयक्रमसँगै, कार्यालयको प्राथमिकताहरु कित्ता नापीमा मात्रै सीमित नरही नयाँ प्रविधि र सूचनालाई आत्मसात् गर्दै अगाढी बढ्नुपर्ने चुनौती देखिएको छ।
							समयक्रमसँगै, कार्यालयको प्राथमिकताहरु कित्ता नापीमा मात्रै सीमित नरही नयाँ प्रविधि र सूचनालाई आत्मसात् गर्दै अगाढी बढ्नुपर्ने चुनौती देखिएको छ।समयक्रमसँगै, कार्यालयको प्राथमिकताहरु कित्ता नापीमा मात्रै सीमित नरही नयाँ प्रविधि र सूचनालाई आत्मसात् गर्दै अगाढी बढ्नुपर्ने चुनौती देखिएको छ।समयक्रमसँगै, कार्यालयको प्राथमिकताहरु कित्ता नापीमा मात्रै सीमित नरही नयाँ प्रविधि र सूचनालाई आत्मसात् गर्दै अगाढी बढ्नुपर्ने चुनौती देखिएको छ।समयक्रमसँगै, कार्यालयको प्राथमिकताहरु कित्ता नापीमा मात्रै सीमित नरही नयाँ प्रविधि र सूचनालाई आत्मसात् गर्दै अगाढी बढ्नुपर्ने चुनौती देखिएको छ।
							कार्यालयले गर्ने कार्यहरु:-
						</p>
						<p><ul class='major_activities'>
								<li>कित्ता काट</li>
								<li>फिल्ड रेखाङ्कन</li>
								<li>ब्लू प्रिन्ट नक्सा</li>
								<li>ट्रेस नक्सा</li>
								<li>कित्ता नक्सा</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">{% include 'small_column_nep.html'%}
</div>
{% endblock%}