{% load staticfiles %}
	{% block small_column %}

		<div class="list-group">
  <a href="/notice_nep"><button type="button" class="list-group-item"><b>सूचना</b></br></button></a>

  <a href="/news_nep"><button type="button" class="list-group-item"><b>समाचार</b></button></a>

  <a href="/photo_gallery_nep"><button type="button" class="list-group-item"><b>फोटो ग्यालरी</b></button></a>

  <a href="{% static "exefiles/AREACALCULATOR.exe" %}"><button type="button" class="list-group-item"><b>इकाइ परिवर्तन</b></button></a>

  <a href="{% static "xlsx/coordinate_converter.xlsx" %}"><button type="button" class="list-group-item"><b>को-अर्डिनेट परिवर्तन</b></button></a>

  <a href="/citizen_charter_nep"><button type="button" class="list-group-item"><b>नागरिक बडापत्र</b></button></a>

  <a href="{% static "pdf/Land_Act_2019.pdf" %}"><button type="button" class="list-group-item"><b>जग्गा नापजाँच ऐन २०१९</b></button></a>
  
  <a href="{% static "pdf/Land_Rules_2058.pdf" %}"><button type="button" class="list-group-item"><b>जग्गा नापजाँच नियमावली २०५४</b></button></a>
</div>
</div>
{% endblock small_column %}
